- content_for :title do
  Web Application Development
.top
  %p.lead
    We build state of the art web applications and websites using Ruby on Rails and other modern web technologies, through Agile test driven development.  At Rebel Oupost, we take your web application and website dreams and make them a reality.
    / %a{href: "/process", class: 'btn btn-primary btn-large'}
    /   Read more
  %p
    What is the difference between a website and a web application?  A website displays information in the form of text, images, video, etc. for the visitor to view.  A web application is like a website but allows the visitor to do things like login, buy something, check email (Google Gmail) and is a lot more complex.
  %p
    Whether you are looking for a website or a web application, we can assist you.  Just have an idea and not sure what exactly you need?  We can help you to make that determination.  From the idea through to the final product, we are here to guide you and to help you decide on what direction to take.
.clear


.well
  %h2
    Ruby on Rails
  %p
    Rebel Outpost uses the most cutting edge web technology and is constantly refining our software toolkit so that we can create great tools and applications for ourselves and our customers. We primarily develop in Ruby on Rails, using such tools as HAML, SASS, MongoDB, and modern Javascript libraries. It’s all top of the line technologies, and our entire team has standardised on a single set of tools, which are stored in our
    %a{href: "https://github.com/rebel-outpost/rebel-outpost-foundation"}>
      Foundation GitHub repository.
  %p
    From the very beginning of the development process we work with our customers to identify their needs and quickly get a rough framework of the application to them. By iterating off of this, customers get the exact end result they want, in the most efficient manner. For more information on how we do Agile, check out
    %a{href: "/process"}
      how we do it.

%br
  #colOne
    %h2
      Who is Rebel Outpost?
    %p
      Rebel Outpost is a Web Development company based in Phoenix, AZ specializing in top of the line Ruby on Rails development.
      %a{href: "/services", class: 'button'}
        Click here
      to learn about the various services that we offer.
    %br
    %br
    %br
    %br

  #colTwo
    %h2
      Want to know more?
    %p
      If you have an idea and want to talk about it, we would love to talk to you.  If you have any questions about us or what we do, feel free to give us a call (480) 251-5162 or email us at
      %a{href: 'mailto:bob@rebel-outpost.com'}>
        Let's talk.
    %br
    %br

