- content_for :title do
  Our Development Process
%h2
  How we do it...

%p
  Rebel Outpost adheres to the ideas of Agile development. From the very beginning of each project, we work with our clients to design and spec out the perfect project. Our development toolkits allow us to quickly get a first prototype in the hands of our clients and iterate off of that, molding that initial vision in to a final product everyone loves.

.process
  %br
  .well
    %h2
      User Stories
    %p
      After our initial discussion of your project needs, we then do a User Story session where we will work with you to identify your exact needs, identify the users for your application, and define the features necessary to create the perfect product. Creating the users stories also enables you to get an estimate on how long the entire development process will take and allows you to prioritize the functions as you see fit.
  %br
  .well
    %h2
      Test & Behavior Driven
    %p
      Rebel Outpost performs Test Driven Development (TDD) and Behavior Driven Development (BDD)on all applications. Before touching the application code itself, we develop tests for the task that we are working on and anything related to it. This provides a specification of what our code should be doing and defines the logic which the task should adhere to. These tests are also used before every major code push to verify that nothing has broken and to keep the project’s quality at its very best.
  %br
  .well
    %h2
      Iterated
    %p
      Following a strict discipline of Agile test driven development, you will see your application evolve in a series of iterations. As we complete a user story, you see your code delivered weekly if not on a daily basis. With the Agile process, it is easy for you to add, change, or remove functions and functionality as you seem fit. As an application evolves, quite often there are changes in the workflow that are identified as you see the application live and have the ability to test the application yourself.
  %br
  .well
    %h2
      Satisfied
    %p
      In the web development world, word of mouth can make or break a companies reputation. Your satisfaction is our highest priority and the job is not finished until you are completely satisfied.  We want to exceed your expectations and we want great references.


%br
%br
%br