- content_for :title do
  Application Development Services
%h2
  What we do...

%p
  Rebel Outpost offers all of the expected services of a Ruby on Rails development shop.  If you are looking for something that we do not have listed here, please contact us and we can talk about it.
%br

.well
  %h2
    New Web Application Development
  %p
    These is nothing more satisfying as a web developer than watching a clients idea and dream become a reality.  From the initial discussion and outlining of your ideas, through the story workshop, the initial design process to the final product, we will be there every step of the way to guide and assist you.  We will be in constant communication with you and by working in an Agile environment, we can make workflow and design changes as you watch your application evolve.
  %p
    Sometimes the hardest part is just getting the vision of your application from your head to a set of strategies and a plan outlined.  Thats what we are here for.
%br

.well
  %h2
    Existing Web Application Development
  %p
    We can take your old 'legacy' application and upgrade it to make it new again.  With the advancements in web development, your old application may not have all of the bells and whistles that you wanted it to have.  Older versions of code had a lot more limitations than what we have today.  We can take a look at your existing application and make suggestions and/or recommendations to you for making your application look new again.
%br

.well
  %h2
    Website Development
  %p
    If a web application is more than you need, we also do website development.  We can create everything from a simple one page website to a full blown website.
%br

.well
  %h2
    Web Application Code Review
  %p
    We can take a look at your legacy application, and perform a thorough code review.  This aids in determining how much work will be involved to update your application.
%br

.well
  %h2
    Professional Search Engine Optimization (SEO)
  %p
    Having a SEO friendly web application is the first step to building a successful web application.  You could have the greatest application in the world but it is no good if no one sees it.  We can provide a full SEO review for your existing applications as well as ensuring that the applications that we build are SEO friendly.


%br
%br
%br
%br