- content_for :title do
  Thank you

%h1
  Thank you
%p
  We look forward to speaking with you about your project.  We will contact you ASAP to talk.
%p
  Thank you for your interest.
%p
  Rebel Outpost, LLC