
%ul#social
  %li
    = link_to image_tag('icons/twitter-32x32.png'), 'https://twitter.com/rebeloutpost'
  %li
    = link_to image_tag('icons/facebook-32x32.png'), 'http://www.facebook.com/rebeloutpost'
  %li
    = link_to image_tag('icons/linkedin-32x32.png'), 'http://www.linkedin.com/company/rebel-outpost-llc'
